@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

#body {
  background-image: url("./components/assets/darkbluegradient.jpg");
}

#label {
  font-family: "Alfa Slab One", cursive;
  text-shadow: 4px 4px black;
  transform: scale(2.5) rotate(-90deg);
}

#marquee {
  font-family: "Alfa Slab One", cursive;
  text-shadow: 4px 4px black;
}

#backgroundtext {
  font-family: "Alfa Slab One", cursive;
  text-shadow: 4px 4px black;
  opacity: 25%;
  font-size: 400px;
}
